In [88]:
import pandas as pd 
import tensorflow
from tensorflow import keras
from keras import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

df = pd.read_csv("Churn_Modelling.csv")

In [89]:
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [90]:
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis=1)

In [91]:
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [92]:
le = LabelEncoder()
for col in df.select_dtypes("object"):
    df[col] = le.fit_transform(df[col])
df

      CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619          0       0  ...               1        101348.88       1
1             608          2       0  ...               1        112542.58       0
2             502          0       0  ...               0        113931.57       1
3             699          0       0  ...               0         93826.63       0
4             850          2       0  ...               1         79084.10       0
...           ...        ...     ...  ...             ...              ...     ...
9995          771          0       1  ...               0         96270.64       0
9996          516          0       1  ...               1        101699.77       0
9997          709          0       0  ...               1         42085.58       1
9998          772          1       1  ...               0         92888.52       1
9999          792          0       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [93]:
Y = df["Exited"]
X = df.drop(["Exited"], axis=1)
Xtrain, Xtest,ytrain,ytest = train_test_split(X,Y, test_size=0.2, shuffle=True, random_state=42)

In [94]:
#scaling es muy importante para gardient descent en NN, SVM, distance measurementes, knn 
scaler = MinMaxScaler()
#important to apply it after splitting bc it affects data leakage and overfitting if combined with xtest , por eso debe ser independiente
Xtrain = scaler.fit_transform(Xtrain)
#se aplican los parameters learned from the training set
Xtest = scaler.transform(Xtest)

In [95]:
import tensorflow as tf
from keras.layers import Dense
from keras.optimizers import Adam
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.utils import class_weight
import numpy as np


unique_classes = np.unique(ytrain)
print(f"Unique classes: {unique_classes}")

# Calculate class weights
classWeights = class_weight.compute_class_weight('balanced', classes=unique_classes, y=ytrain)
classWeights = dict(enumerate(classWeights))

Unique classes: [0 1]

In [96]:
classWeights

{0: 0.6293266205160478, 1: 2.4330900243309004}

In [97]:
from keras.callbacks import EarlyStopping
early_stopping = EarlyStopping(
    monitor='recall',    # Metric to monitor
    patience=3,            # Number of epochs with no improvement after which training will be stopped
    restore_best_weights=True  # Restore model weights from the epoch with the best value of the monitored quantity
)

model = Sequential()
model.add(Dense(units=500,  activation="relu"))
model.add(Dense(units=400, activation="relu"))
model.add(Dense(units=400, activation="relu"))
model.add(Dense(units=100, activation="relu"))
model.add(Dense(units=1, activation="sigmoid"))

model.compile(optimizer=Adam(), loss="binary_crossentropy", metrics=["recall"])
model.fit(x=Xtrain, y=ytrain, epochs=20, validation_split=0.2, callbacks=[early_stopping])

Epoch 1/20

200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 0.4774 - recall: 0.0179 - val_loss: 0.4503 - val_recall: 0.4689
Epoch 2/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.4027 - recall: 0.3353 - val_loss: 0.3784 - val_recall: 0.3727
Epoch 3/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3560 - recall: 0.3932 - val_loss: 0.3631 - val_recall: 0.3820
Epoch 4/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3481 - recall: 0.4506 - val_loss: 0.3655 - val_recall: 0.3665
Epoch 5/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3389 - recall: 0.4308 - val_loss: 0.3525 - val_recall: 0.3789
Epoch 6/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3525 - recall: 0.4424 - val_loss: 0.3624 - val_recall: 0.3758
Epoch 7/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3507 - recall: 0.4419 - val_loss: 0.3629 - val_recall: 0.3634
Epoch 8/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3378 - recall: 0.4432 - val_loss: 0.3565 - val_recall: 0.4099
Epoch 9/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3293 - recall: 0.4504 - val_loss: 0.3547 - val_recall: 0.4286
Epoch 10/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3357 - recall: 0.4681 - val_loss: 0.3659 - val_recall: 0.5497
Epoch 11/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3277 - recall: 0.4954 - val_loss: 0.3570 - val_recall: 0.4286
Epoch 12/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3315 - recall: 0.4761 - val_loss: 0.3556 - val_recall: 0.3944
Epoch 13/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3265 - recall: 0.4813 - val_loss: 0.3505 - val_recall: 0.4037
Epoch 14/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.3239 - recall: 0.4941 - val_loss: 0.3600 - val_recall: 0.4348

In [98]:
loss, recall = model.evaluate(Xtest, ytest)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.3430 - recall: 0.4334

In [99]:
ypred = (model.predict(Xtest) > 0.5).astype("int32")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [100]:
ypred

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [101]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1607
           1       0.77      0.45      0.57       393

    accuracy                           0.86      2000
   macro avg       0.82      0.71      0.74      2000
weighted avg       0.86      0.86      0.85      2000